<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Steroid Man</title>

  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/application.css">
</head>

<body>

<nav>
  <ul class="vertical navigation engage-on-hover">
    <li><a href="#"><i class="fa fa-home"></i></a></li>
    <li><a href="#"><i class="fa fa-question"></i></a></li>
    <li><a href="#"><i class="fa fa-search"></i></a></li>
  </ul>
</nav>

<form class="search">
  <fieldset>
    <input type="text" name="search"></input>
    <button type="submit" value="search">
      <i class="fa fa-search"></i>
      </button>
  </fieldset>
</form>

<div class="content container">
  <%= yield %>
</div>

  <script type="text/javascript" src="/assets/application.js"></script>
</body>
</html>
